body {
	background-color:#364e72;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	width: 100%;
	color:white;
	font-family: 'Lato', sans-serif;
}

.rightbar {
	background-color:#a6b558;
	width:24%;
	position:absolute;
	right:0;
	height:100%;
	top: 0;
	text-align:center;
}

#all_assignments {
	width:90%;
}

.mainbody {
	width:76%;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	text-align:center;
}

input {
	font-size:30px;
}

.calculator {
	padding-right:30px;
	padding-left:30px;
	padding-top:10px;
	margin:auto;
	width:50%;
	height:75%;
	left:0;
	right:0;
	background-color: #192231;
	position:relative;
}

h1 {
	color: white;
	font-size:40px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h2 {
	text-align:center;
	font-size:30px;
}

li {
	list-style:none;
	background-color:#b3bdcc;
	font-size:26px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-family: 'Lato', sans-serif;
}

#add {
	margin-top:270px;
}

button {
	background-color:transparent;
	border:2px solid white;
	color:white;
	font-size:26px;
	padding:10px;
	text-transform:uppercase;
}
